body {
    font-family: 'Arial', sans-serif;
    background-image: url('/img/cinePipocaSP.png');  /* Substituir pelo nome real do arquivo */
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-attachment: fixed; /* Faz com que o fundo fique fixo enquanto rola a página */
    color: white; /* Cor do texto para melhor visibilidade */
    margin: 0;
    padding: 20px;
    
}

h1 {
    text-align: center;
    color: red;
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com 50% de opacidade */
    padding: 20px; /* Adiciona espaçamento interno */
}

table {
    width: 100%; /* Largura da tabela */
    border-collapse: collapse;  /* Remove o espaço entre as células */
    margin: 20px 0; /* Margem em volta da tabela */
    font-family: Arial, sans-serif; /* Fonte da tabela */
    
   
}
th, td {
    padding: 15px; /* Espaçamento interno das células */
    text-align: center; /* Alinhamento do textoao centro */
    border: 2px solid black; /* Borda da célula */
    color: black; /* Cor da fonte das células (preto) */
    font-weight: bold; /* Fonte em negrito */
}
th {
    background-color: #B22222; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto do cabeçalho */
    
}

tr:hover {
    background-color: #FF7F7F; /* Cor de fundo ao passar o mouse sobre a linha */
}


.table-img {
    width: 100%; /* Ajusta a largura da imagem para a largura da célula */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 100px; /* Define uma altura máxima para as imagens */
    object-fit: contain; /* Faz com que a imagem se ajuste dentro da célula sem distorcer */
}



p {
    text-align: center;
    font-size: 1.2em;
    color:white;
    margin-bottom: 20px;
}

/* Estilo para os botões */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: red; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border-radius: 5px; /* Bordas arredondadas */
    border: none; /* Remove bordas padrão */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b22222; /* Cor ao passar o mouse */
}
